langchain==0.3.25
langchain-core==0.3.64
langchain-community==0.3.24
langgraph==0.4.8
langchain_ollama==0.3.3
--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision
torchaudio
pymupdf==1.26.1
chromadb==1.0.12
python-multipart
"fastapi[standard]"
"uvicorn[standard]"
